<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <title>장소 상세보기</title>
    </head>
    <body>
        <th:block th:replace="fragments/header :: header"></th:block>
        <br>
        <div id="place_info" style="height: auto; width: 98%; border:1px solid rgb(136, 136, 136); margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
            <h3>[[${place.name}]]</h3>
            <img th:if="${place.imgUrl == null}" src="img/example_place.jpeg" id=place_img style="float: left; height: 180px; width: 240px; padding:8px;">
            <img  th:if="${place.imgUrl != null}" th:src="\'/display?fileName='+${place.imgUrl}+'\''" id=place_img style="float: left; height: 180px; width: 240px; padding:8px;">
            <button th:if="${place.adminId != user.id}" class="btn btn-outline-primary" th:onclick="'location.href=\'/places/sanitary_update?place_seq='+${place.seq}+'\''" style="float: right;">방역정보 업데이트</button><br><br>
            <button class="btn btn-outline-primary" type="button" th:onclick="'location.href=\'../reviews/register?place_seq=' + ${place.seq} + '\''" style="float: right;">리뷰 작성</button>
            <br><br>
            <button onclick="changelike()" type='button' style='float: right;'><img src='img/heart_empty.jpg' id='like' style='height: 50px; width: 50px;'></button>
            <script>
              function changelike(){
                document.getElementById("like").src = "img/heart.jpg";
              }
            </script>
            <p><strong>주소: </strong> [[${place.address}]]</p>
            <p><strong>전화번호: </strong> [[${place.phone}]]</p>
            <br><br><br><br><br>
        </div>
        <br>
        <div id="review_simple" style= "height: 300px; width: 48%; float:left; border:1px solid rgb(136, 136, 136); margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
            <h3>평가 및 리뷰</h3>
            <img src='img/star_5.jpg' style= 'float: left; height: 40px; width: 200px';> <!--th:src='|img/star_@{place.reviewAvgScoreInt}.jpg|'-->
            <br>
            <p>[[${place.reviewCount}]]건의 리뷰</p>
            <br><br><br><br>
            <a href="\'../reviews/list?type=PLACE&place_seq=' + ${place.seq} + '\''" style="text-align: right;"> >>더보기</a>  <!--href="/reviews/list?type=PLACE&place_seq=[[${place.seq}]]"-->
        </div>
        <div id="place_detail" style= "height: 300px; width: 48%; float:right; border:1px solid rgb(136, 136, 136); margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
            <h3>상세정보</h3>
            <strong>최근 방역 정보</strong>
<!--     2021년 5월 23일 AM 8:00       -->
            <p>[[${quarantine_date_string}]] 방역 완료</p>
            <br>
            <strong>위생관리 정보</strong>
            <span>입장 시 손 소독 여부: <span th:text="${place.hygieneManagement.handSanitization} ? 'O' : 'X'"></span><br>
            발열체크 여부: <span th:text="${place.hygieneManagement.heatCheck} ? 'O' : 'X'"></span><br>
            마스크 착용: <span th:text="${place.hygieneManagement.wearingMask} ? 'O' : 'X'"></span><br>
            거리두기 여부: <span th:text="${place.hygieneManagement.distance} ? 'O' : 'X'"></span>
        </div>
    </body>

    <script>
        $(document).ready(function() {
            $("#placeRegisterBtn").on("click", function () {

                        $.ajax({
                            url: '/places/'+place.seq+'/image',
                            processData: false,
                            contentType: false,
                            data: formData,
                            type: 'PUT',
                            dataType:'text',
                            success: function () {
                                location.href = '/places/detail?place_seq=' + place.seq;
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("code:"+jqXHR.status+"\n"
                                    +"message:"+jqXHR.responseText+"\n"
                                    +"error:"+errorThrown
                                );
                            }
                        });
                    },
            }
        });
    </script>
</html>
