<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dabateam.cleanvisit.mapper.QuarantineMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO quarantine (place_seq, datetime)
        VALUES (
                #{placeSeq},
                #{datetime}
        )
    </insert>
</mapper>