<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dabateam.cleanvisit.mapper.UserMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (id, password, name, img_url, birthday, address)
        VALUES (
                #{id},
                #{password},
                #{name},
                #{imgUrl},
                #{birthday},
                #{address}
        )
    </insert>

    <update id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE user
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="address != null">address = #{address},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <update id="updateUserImageUrl">
        UPDATE user
        SET img_url = #{imgUrl}
        WHERE id = #{id}
    </update>

</mapper>