<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CleanVisit</a>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-outline-primary" onclick="location.href='../places/list.html'">Search</button>

            </form>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/places/list?category=cafe">카페</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/places/list?category=restaurant">음식점</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/places/list?category=shopping">쇼핑</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/places/list?category=etc">기타</a>
                    </li>
                </ul>
                <button th:if="${user == null}" type="button" class="btn btn-outline-primary" onclick="location.href='/login'">로그인</button>
                <button th:if="${user != null}" type="button" class="btn btn-outline-primary" onclick="location.href='/users/my-page.html'">마이페이지</button>
            </div>
        </div>
    </nav>
</html>